input {
    keyboard {
        xkb { }
        numlock
    }
    touchpad {
        tap
        natural-scroll
    }
    mouse { }
    trackpoint { }
    // warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="0%"
}

gestures {
    hot-corners {
    off
    }
}

output "eDP-1" {
    scale 1
    position x=0 y=0
}
output "DP-1" {
    scale 1
    position x=0 y=-1080
}
output "DP-3" {
    scale 1
    position x=0 y=-1080
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// ui
recent-windows {
    highlight {
        corner-radius 12
        active-color   "#52525b"
    }
}

prefer-no-csd
hotkey-overlay {
    skip-at-startup
}

animations { }

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
    draw-border-with-background false
}

blur {
    passes 1
    offset 2
    noise 0.02
    saturation 1.5
}

layout {
    gaps 4

    center-focused-column "never"
    preset-column-widths {
        proportion 0.5
        proportion 0.66667
        proportion 0.33333
    }
    default-column-width { proportion 1.0; }

    background-color "transparent"
    focus-ring {
        off
        width 1
        active-color   "#52525b"
    }
}

// noctalia
spawn-at-startup "noctalia-shell"
debug {
  honor-xdg-activation-with-invalid-serial
}
layer-rule {
    match namespace="^noctalia-wallpaper*"
    place-within-backdrop true
}

include "./binds.kdl"
include "./noctalia.kdl"
