debug {
  honor-xdg-activation-with-invalid-serial
}

layer-rule {
    match namespace="^noctalia-wallpaper*"
    place-within-backdrop true
}
overview {
    workspace-shadow {
    }
}

binds {
    // Core Noctalia binds
    Mod+Space { spawn "noctalia-shell" "ipc" "call" "launcher" "toggle"; }
    Mod+S { spawn "noctalia-shell" "ipc" "call" "controlCenter" "toggle"; }
    Mod+Comma { spawn "noctalia-shell" "ipc" "call" "settings" "toggle"; }

    // Audio controls
    XF86AudioRaiseVolume allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "volume" "increase"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "volume" "decrease"; }
    XF86AudioMute allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "volume" "muteOutput"; }
    XF86AudioMicMute allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "volume" "muteInput"; }
    XF86AudioPlay allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "media" "playPause"; }
    XF86AudioPrev allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "media" "previous"; }
    XF86AudioNext allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "media" "next"; }

    // Brightness controls
    XF86MonBrightnessUp allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "brightness" "increase"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "noctalia-shell" "ipc" "call" "brightness" "decrease"; }

    // Utility shortcuts
    Mod+V { spawn "noctalia-shell" "ipc" "call" "launcher" "clipboard"; }
    Alt+L { spawn "noctalia-shell" "ipc" "call" "lockScreen" "lock"; }
    Mod+M { spawn "noctalia-shell" "ipc" "call" "sessionMenu" "toggle";}
    Mod+B { spawn "noctalia-shell" "ipc" "call" "bluetooth" "togglePanel"; }
    Mod+G { spawn "noctalia-shell" "ipc" "call" "plugin:file-search" "toggle"; }
}

// switch-events {
//     lid-close { spawn "noctalia-shell" "ipc" "call" "lockScreen" "lock"; }
// }
